* {
  background: transparent;
  color: #000;
  font-family: sans-serif;
  font-weight: 400;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  box-shadow: none; }

body {
  background: #fff;
  font-size: 14px; }

h1 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 30px; }

h2 {
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 60px; }

h3 {
  font-size: 1.6em;
  font-weight: 700; }

h4 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 15px; }

h2:before, h3:before {
  background: #bada55;
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 2px;
  margin-right: 15px; }

hr {
  background: rgba(0, 0, 0, 0.05);
  height: 2px; }

.section {
  padding: 90px 0; }
  .section .block:not(:last-child) {
    margin-bottom: 60px; }
  .section .block > *:not(:last-child) {
    margin-bottom: 30px; }

.container {
  display: block;
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto; }

.code {
  background: rgba(0, 0, 0, 0.05);
  font-family: monospace;
  font-size: 0.8em;
  display: block;
  max-width: 100%;
  padding: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05); }

#header {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: solid 2px #bada55; }

#installation .description {
  margin-bottom: 30px; }

#usage .method .method-header .title,
#usage .method .method-header .description {
  display: inline;
  vertical-align: middle; }

#usage .method .method-header .description {
  margin-left: 30px; }

#usage .method .method-parameters {
  text-align: left;
  width: 100%; }
  #usage .method .method-parameters thead th {
    font-weight: 700;
    padding: 0 0 10px; }
  #usage .method .method-parameters tbody tr:not(:last-child) td {
    padding: 0 0 10px; }
  #usage .method .method-parameters .name {
    text-decoration: underline; }
  #usage .method .method-parameters .type {
    font-weight: 700; }
  #usage .method .method-parameters .description {
    font-style: italic; }

#demo .items {
  font-size: 0;
  user-select: none; }
  #demo .items .item {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    text-align: center;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    width: 20%; }
    @media (max-width: 1024px) {
      #demo .items .item {
        height: 130px;
        width: 33%; } }
    @media (max-width: 768px) {
      #demo .items .item {
        height: 140px;
        width: 50%; } }
    @media (max-width: 480px) {
      #demo .items .item {
        height: 150px;
        width: 100%; } }
