//  Variables

$classPrefix: "al-lightbox";
$imageClass: $classPrefix+ "-image";
$overlayClass: $classPrefix+ "-overlay";
$overlayImageClass: $classPrefix+ "-overlay-image";
$centerClass: $classPrefix+ "-center";
$transitionClass: $classPrefix+ "-transition";
$hiddenClass: $classPrefix+ "-hidden";
$visibleClass: $classPrefix+ "-visible";
$overflowClass: $classPrefix+ "-overflow";
$closeClass: $classPrefix+ "-close";

$closeColor: #fff;
$overlayImageColor: rgba(0,0,0, 0.1);
$overlayColor: rgba(0, 0, 0, 0.8);
$overlayMargin: 30px;
$startZIndex: 100;
$transitionDelay: .5s;
$transitionEasing: "ease-in-out";
$transition: $transitionDelay $transitionEasing;
$animation: $classPrefix+"-fade-in";

//  Image

.#{$imageClass} {
  background-size: cover !important;
  background-position: center !important;
  cursor: pointer !important;
}

//  Overlay

.#{$overlayClass} {
  background: $overlayColor;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $startZIndex;
  transform: translateZ(0);
}

//  Overlay Image

.#{$overlayImageClass} {
  background-color: $overlayImageColor;
  background-size: cover;
  background-position: center;
  position: absolute;
  max-height: calc(100vh - #{$overlayMargin*2});
  max-width: calc(100vw - #{$overlayMargin*2});
  z-index: $startZIndex+1;
  transform: translateZ(0);
}

//  Close Button

.#{$closeClass} {
  background: transparent;
  position: absolute;
  bottom: 100%;
  right: 0;
  height: $overlayMargin* 0.5;
  width: $overlayMargin* 0.5;
  margin-bottom: $overlayMargin* 0.25;
  opacity: 0;
  animation: #{$animation} $transition $transitionDelay forwards;
  cursor: pointer;
  &:before,
  &:after {
    background: $closeColor;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
  }
  &:before {
    transform: rotate(-45deg)
  }
  &:after {
    transform: rotate(45deg)
  }
}

//  Center

.#{$centerClass} {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

//  Overflow

.#{$overflowClass} {
  overflow: hidden;
}

//  Transition

.#{$transitionClass} {
  transition: all $transition;
}

//  States

.#{$visibleClass} {
  opacity: 1;
  visibility: visible;
  will-change: opacity, visibility;
  pointer-events: all;
}

.#{$hiddenClass} {
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  pointer-events: none;
}

//  Animations

@keyframes #{$animation} {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}